*{
    font-family: Poppins, Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(226, 221, 222);
}
h1{
    color:rgb(25, 31, 26);
}
form{
    background-color: white;
    color:rgb(25, 31, 26);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
#textbox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    border: 2px solid rgb(25, 31, 26);
    border-radius: 10px;
    margin-bottom: 25px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 25px;
    background-color: rgb(226, 221, 222);
    border-radius: 5px;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    padding: 10px;
}
button:hover{
    background-color: rgb(218, 195, 200);
}

#result{
    font-size: 1.75em;
    font-weight: bold;
}